<?xml version="1.0" encoding="utf-16"?>
<!--Gumbo save file. Last save: 5/8/2013 2:29:28 PM-->
<GumboSave>
  <EditorSettings>
    <Version>1.53</Version>
    <SaveMode>Container</SaveMode>
    <ScreenDirection>1</ScreenDirection>
    <CanvasHeight>420</CanvasHeight>
    <CanvasWidth>680</CanvasWidth>
    <SnapToPixels>0</SnapToPixels>
    <ImagePath></ImagePath>
  </EditorSettings>
  <Shapes />
  <DisplayObjects>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>9419375799</ObjectUniqueId>
      <DefaultName>dispObj_1</DefaultName>
      <Name>dispObj_1</Name>
      <Width>460</Width>
      <Height>80</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>10</X>
      <Y>10</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>0896644198</ObjectUniqueId>
      <DefaultName>dispObj_2</DefaultName>
      <Name>dispObj_2</Name>
      <Width>105</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>70</X>
      <Y>120</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>4981074514</ObjectUniqueId>
      <DefaultName>dispObj_3</DefaultName>
      <Name>dispObj_3</Name>
      <Width>105</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>70</X>
      <Y>190</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>9090761364</ObjectUniqueId>
      <DefaultName>dispObj_4</DefaultName>
      <Name>dispObj_4</Name>
      <Width>105</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>70</X>
      <Y>260</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>6596007376</ObjectUniqueId>
      <DefaultName>dispObj_5</DefaultName>
      <Name>dispObj_5</Name>
      <Width>50</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>10</X>
      <Y>120</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>2341102736</ObjectUniqueId>
      <DefaultName>dispObj_6</DefaultName>
      <Name>dispObj_6</Name>
      <Width>50</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>10</X>
      <Y>190</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>5182160639</ObjectUniqueId>
      <DefaultName>dispObj_7</DefaultName>
      <Name>dispObj_7</Name>
      <Width>50</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>10</X>
      <Y>260</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>0108623124</ObjectUniqueId>
      <DefaultName>dispObj_8</DefaultName>
      <Name>dispObj_8</Name>
      <Width>50</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>250</X>
      <Y>120</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
    <DisplayObject>
      <IsDisabled>false</IsDisabled>
      <IsLockedInPosition>false</IsLockedInPosition>
      <ObjectType>Image</ObjectType>
      <BackgroundHex>#FFFFFF</BackgroundHex>
      <ObjectUniqueId>3601635173</ObjectUniqueId>
      <DefaultName>dispObj_9</DefaultName>
      <Name>dispObj_9</Name>
      <Width>105</Width>
      <Height>40</Height>
      <ReferencePoint>1</ReferencePoint>
      <X>310</X>
      <Y>120</Y>
      <XScale>1</XScale>
      <YScale>1</YScale>
      <ImageName>image.png</ImageName>
      <ImageImportResizeType>1</ImageImportResizeType>
      <RotationAngle>0</RotationAngle>
      <RotationCenterX>0</RotationCenterX>
      <RotationCenterY>0</RotationCenterY>
      <CustomCode></CustomCode>
      <CustomCode2></CustomCode2>
      <PhysicsEnabled>false</PhysicsEnabled>
      <PhysicsBodyType>0</PhysicsBodyType>
      <PhysicsDensity>1</PhysicsDensity>
      <PhysicsFriction>0.3</PhysicsFriction>
      <PhysicsBounce>0.2</PhysicsBounce>
      <PhysicsBodyShape>0</PhysicsBodyShape>
      <PhysicsUseObjectWidth>false</PhysicsUseObjectWidth>
      <PhysicsRadius>0</PhysicsRadius>
      <PhysicsIsSensor>false</PhysicsIsSensor>
      <PhysicsShapeIds />
    </DisplayObject>
  </DisplayObjects>
  <Images />
</GumboSave>